---
---

@import "{{ site.theme }}";

.header-data {
    text-align: center;
}

.main-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.main-nav > div {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.submit-btn {
    background: #727272;
    color: #fff;
    text-decoration: none;
    border: 0;
}

.submission a, .submission a:visited {
    background: #727272;
    display: block;
    width: 200px;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.0rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.submission a:hover {
    background: #525252;
    color: #fff;
    font-weight: normal;
    transform: scale(0.95);
}

.organizer {
    padding: 10px;
    overflow: hidden;
}

.organizer img {
    margin-right: 10px;
    float: left;
}

p.narrow {
    margin: 0px;
}

.location-frame {
    width: 100%;
    height: 450px;
    border: 0;
}

@media print, screen and (max-width: 960px) {
    header {
        padding:0;
    }

    .main-nav {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        padding-bottom: 10px;
    }

    .main-nav > div {
        padding: 2px;
    }
}
