---
---

@import "{{ site.theme }}";

.toc-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.toc-container > div {
    margin: 0px;
    padding: 2px;
}

@media print, screen and (max-width: 960px) {
    header {
        padding:0;
    }

    .toc-container {
        flex-direction: row;
    }

    .toc-container > div {
        padding: 10px;
    }
}
