---
---

@import "{{ site.theme }}";

.header-data {
    text-align: center;
}

.main-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.main-nav > div {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    // text-transform: uppercase;
}

@media print, screen and (max-width: 960px) {
    header {
        padding:0;
    }

    .main-nav {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    }

    .main-nav > div {
        padding: 2px;
    }
}
